.navbarContainer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color:lightskyblue;
}

.categoriesLi {
  list-style-type: none;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  
}

.categoriesLi:hover {
  background-color: rgb(109, 197, 251);
  border-radius: 4px;
  color: whitesmoke
}

.cartContainer {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bolder;
  text-decoration: none;
  padding: 8px;
  background-color: rgb(109, 197, 251);
  border-radius: 8px;
}

